
p:nth-of-type(2):after {
    content: "-NEW";
    color: yellow;
    }
    p:nth-of-type(3):after {
        content: "-NEW";
        color: yellow;
        }

p:hover:last-of-type {
    font-style: italic;
    }

p:nth-of-type(4) {
    color: red;
   }

   p:nth-of-type(5) {
    color: blue;
   }

   p:nth-of-type(6) {
    color: red;
   }

   p:nth-of-type(7) {
    color: blue;
   }

   p:nth-of-type(8) {
    color: red;
   }

   p:nth-of-type(9) {
    color: blue;
   }

   p:nth-of-type(10) {
    color: red;
   }
